<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--/ place your website logo here
      -->
      <a class="navbar-brand" href="<%= root_path %>">
        <div class="glyphicon glyphicon-flag"></div>
        Import App
      </a>
    </div>
    <div class="pull-right twitter_btn">
          <div>
          <%#= link_to "Import CSV", home_upload_csv_path , class: "btn btn-primary btn-sm", style: "margin-right:10px;"         %>
          <%= link_to "Companies List", companies_path , class: "btn btn-primary btn-sm" %>
         </div>
     </div>
  </div>
</nav>
